.timeline-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timeline-circle {
  position: relative;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: '';
    position: absolute;
    top: 54px;
    left: 53px;
    width: 75%;
    height: 75%;
    border: 1px solid #42567A;
    opacity: 0.1;
    border-radius: 50%;
    pointer-events: none;
    z-index: 0;
  }
}


.timeline-point {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #42567A;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: center center;
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: visible;

  .point-number {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 6px;
    font-weight: bold;
    color: #42567A;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: all 0.3s ease;
    transform: translate(-50%, -50%) rotate(0deg);
  }
}


.timeline-point:hover {
  transform: scale(2);
  border: 1px solid #42567A;

  .point-number {
    opacity: 1;
  }
}

.timeline-point.active {
  background: #42567A;
  border: 1px solid #42567A;
  transform: scale(2.5);

  .point-number {
    opacity: 1;
  }
}

.active-label {
  position: absolute;
  top: 60px;        
  right: 10px;        
  font-weight: bold;
  font-size: 16px;
  color: #42567A;
  white-space: nowrap;
  pointer-events: none;
  z-index: 10;
}

.timeline-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 400px;
  color: #42567A;

  .background-periods {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 45px;
    z-index: 0;

    .bg-char {
      font-size: 120px;
      font-weight: bold;
      transition: all 0.5s ease;
    }
  }

  .timeline-circle {
    position: relative;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }

  .active-label {
    position: absolute;
    top: 31%;
    left: 60%;
    font-weight: bold;
    font-size: 16px;
    color: #000;
    white-space: nowrap;
  }
}

.timeline-news-wrapper {
    position: absolute;
    margin-top: 50%;
    width: 800px;
    z-index: 5;
    display: flex;
    justify-content: center;
}
.timeline-controls-wrapper {
  display: flex;
  flex-direction: column;

    align-self: start;
  margin-top: 40px;

  .period-counter-top {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 12px;
  }

  .timeline-controls {
    display: flex;
    align-items: center;
    gap: 16px;

    .arrow {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      border: 2px solid #42567A;
      opacity: 0.2;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        border-color: #42567A;
        opacity: 1;
      }

      .corner {
        width: 8px;
        height: 8px;
        border: 2px solid #000;
        border-left: 0;
        border-top: 0;
      }

      &.left .corner {
        transform: rotate(135deg);
      }

      &.right .corner {
        transform: rotate(310deg);
      }
    }
  }
}

